<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <figure>
      <img src="/img/logo-DH.png" alt="Logo Digital House">
    </figure>
    <h1><%= title %></h1>
    <p>Bienvenidos a <%= title %></p>
    <br>
    <a class="botonVolver" href="/movies">Listado de Películas</a>
    <a class="botonVolver" href="/movies/new">Nuevas</a>
    <a class="botonVolver" href="/movies/recommended">Recomendadas</a>
    <a class="botonVolver" href="/genres">Generos</a>
    <br>
    <div class="buscar-titulo">
      <form action="/movies/buscar" method="POST">
          <input type="text" name="titulo" id="titulo">
          <button class="boton-buscar" type="submit">Buscar una Pelicula</button>
      </form>
  </div>
  </body>
</html>
